<div id="maindiv" ng-controller="Bet">
	<form name="betForm" ng-submit="save()">
		<table id="bettable">
			<thead>
				<th class="columnInTheMiddle">Date</th>

				<th class="columnInTheMiddle">Score</th>
				<th colspan=10 class="columnInTheMiddle">Game</th>
				<th>Details</th>
			</thead>
			<tbody>
				<tr ng-repeat="bet in bets" class="large-bet">
					<td class="date">{{bet.gamedate | date:'MMM dd, yyyy HH:mm'}}</td>
					<td class="notplayed"><span ng-if="bet.gameplayed==1" ng-repeat="team_game in bet.teams_game">{{($index==1?" - ":"") + team_game.score}}</span></td>
					<td ng-repeat-start="team_bet in bet.teams_bet" ng-class="{flag:$index==0, betwhitespace:$index==1}"><img src="client/img/flags/{{team_bet.teamflag}}" ng-if="$index==0"/></td>
					<td class="team" ng-if="$index==0">{{team_bet.teamname}}</td>
					<td class="betwhitespace" ng-if="$index==0"></td>
					<td class="bet" ng-if="$index==0"><input name="a" class="betinput" ng-model="team_bet.score" ng-disabled="bet.gamestarted==1" ng-pattern='/^\d{0,2}$/'/></td>
					<td class="bet" ng-if="$index==1"><input name="b" class="betinput" ng-model="team_bet.score" ng-disabled="bet.gamestarted==1" ng-pattern='/^\d{0,2}$/'/></td>
					<td class="betwhitespace" ng-if="$index!=0"></td>
					<td ng-class="{flag:$index==1, betwhitespace:$index==0}"><img src="client/img/flags/{{team_bet.teamflag}}" ng-if="$index==1"/></td>
					<td class="team" ng-if="$index!=0" ng-repeat-end>{{team_bet.teamname}}</td>
					<td class="linktobet"><a ng-href="#/results/details/{{bet.gameid}}"><img src="client/img/loupe.jpg" ng-show="bet.gamestarted==1" /></a></td>
				</tr>
			</tbody>
		</table>
		<br /><br /><br />
		<input type="submit" ng-disabled='betForm.$invalid' />
	</form>
</div>