<div id="maindiv" ng-controller="Detail">
	<h2>{{bets.game}}</h2>
	<table id="resulttable">
		<thead>
			<th>User</th>
			<th>Bet</th>
		</thead>
		<tbody>
			<tr ng-repeat="bet in bets.detail" class="detailtable" ng-class="{'gray':$index%2==1}">
				<td class="detailuser">{{bet.firstname}} {{bet.lastname}}</td>
				<td class="detailbet">{{bet.score}}</td>
			</tr>
		</tbody>
	</table>
</div>