<div id="maindiv">
	<div ng-repeat="group in groups" class="group">

		<table id="grouptable">
			<thead>
				<tr>
					<th colspan="3">{{group.name}}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="team in group.teams" class="large-group">
					<td class="teamid">{{team.id}}</td>
					<td class="teamflag"><img src="client/img/flags/{{team.flag}}" /></td>
					<td>{{team.name}}</td>
				</tr>
			</tbody>
		</table>
		<br />

	</div>
</div>