<div ng-controller="Login" id="login-wrapper">
	<form class="login-form" ng-submit="login(username, password)">
		<div class="login-content">
			<input name="username" type="email" class="login-input" placeholder="Email" ng-model="username" required/> 
			<input name="password" type="password" class="login-input" placeholder="Password" ng-model="password" required/>
		</div>
		<div class="login-footer">
			<input type="submit" name="submit" value="Login" class="login-button" /> 
		</div>
	</form>
	</br>
	<a href="#/register">Register</a>&nbsp|&nbsp<a href="#/passwordlost">Password lost?</a>
</div>