<div ng-controller="Menu">
	<nav class="menuheader">
		<span ng-repeat="page in pages">
			<div id="{{$index+1}}" class="divheader"></div>
		</span>
	</nav><nav class="menufooter">
		<span ng-repeat="page in pages"><a ng-href="#/{{ page.url }}"
			ng-class="{'selected-menu': $index == selectedIndex }"
			ng-click="menuClicked($index)" ng-mouseover="onMouseover($index+1)">{{page.name}}</a>
		</span>
	</nav>
</div>