<div ng-controller="Login" id="login-wrapper">
	<form name="loginForm" class="login-form" ng-submit="sendemail(email)">
		<div class="login-content">
			<input name="username" type="email" class="login-input" placeholder="Email" ng-model="email" ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i" /> 
		</div>
		<div class="login-footer">
			<input type="submit" name="submit" value="Send" class="login-button" ng-disabled='loginForm.$invalid'/> 
		</div>
	</form>
</div>