<div ng-controller="Login" id="login-wrapper">
	<form class="login-form" ng-submit="updatepassword(password)">
		<div class="login-content">
			<input name="password" type="password" class="login-input" placeholder="New Password" ng-model="password" /> 
		</div>
		<div class="login-footer">
			<input type="submit" name="submit" value="Update" class="login-button" /> 
		</div>
	</form>
</div>