<h3>Edit your profile.</h3>
<div ng-controller="Profile" id="login-wrapper">
	<form class="login-form" ng-submit="updateprofile(profile.firstname, profile.lastname)">
		<div class="login-content">
			Email: <input name="email" type="text" class="login-input" placeholder="Email" ng-model="profile.username" disabled/>
			Firstname: <input name="firstname" type="text" class="login-input" placeholder="Firstname" ng-model="profile.firstname" required/>
			Lastname: <input name="lastname" type="text" class="login-input" placeholder="Lastname" ng-model="profile.lastname" required/>
		</div>
		<div class="login-footer">
			<input type="submit" name="submit" value="Update" class="login-button" /> 
		</div>
	</form>
	</br>
</div>