<div id="maindiv" ng-controller="Ranking">
	Filter : <select name="select" ng-model="search.company">
		<option ng-repeat="company in companies"
			ng-value="company.companyName">{{company.companyName}}</option>
	</select>
	<br />
	<table class="rankingtable">
		<thead>
			<tr>
				<th class="rankid"></th>
				<th class="rankname">Name</th>
				<th class="rankscore">Score</th>
				<th class="rankcompany">Company</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="rank in ranks | filter:search" ng-class="{'gray':$index%2==1}">
				<td class="rankid">{{$index+1}}</td>
				<td class="rankname">{{rank.name}}</td>
				<td class="rankscore">{{rank.score}}</td>
				<td class="rankcompany">{{rank.company}}</td>
			</tr>
		</tbody>
	</table>
</div>