<div ng-controller="Login" id="login-wrapper">
	<div id="dialogoverlay"></div>
	<div id="dialogbox"></div>
	<form name="loginForm" class="login-form" ng-submit="register(username, password, firstname, lastname, companyname, companypassword, departmentname)">
		<div class="login-content">
			<input name="username" type="email" class="login-input" placeholder="Email" ng-model="username" ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@(talend\.com|synotis\.com)/i" required/> 
			<input name="password" type="password" class="login-input" placeholder="Password" ng-model="password" required/>
			<input name="firstname" type="text" class="login-input" placeholder="Firstname" ng-model="firstname" required/>
			<input name="lastname" type="text" class="login-input" placeholder="Lastname" ng-model="lastname" required/>
			<br /><br />
			<select name="select" class="login-input" ng-model="companyname" required>
				<option value="" disabled selected>Select your company</option>
				<option ng-repeat="company in companies" ng-value="company.companyName">{{company.companyName}}</option>
			</select>
			<input name="password" type="password" class="login-input" placeholder="Company password" ng-model="companypassword" required/>
		</div>
		<div class="login-footer">
			<input type="submit" name="submit" value="Register" class="login-register" ng-disabled='loginForm.$invalid' />
		</div>
	</form>
</div>