<div id="maindiv" ng-controller="Result">
	<table id="resulttable">
		<thead>
			<th class="columnInTheMiddle">Date</th>

			<th class="columnInTheMiddle">Played</th>
			<th colspan=8 class="columnInTheMiddle">Game</th>
			<th>Details</th>
		</thead>
		<tbody>
			<tr ng-repeat="result in results" class="large-result">
				<td class="date">{{result.gamedate | date:'MMM dd, yyyy HH:mm'}}</td>
				<td	ng-class="{played: result.gameplayed==1, notplayed: result.gameplayed==0}"></td>
				<td ng-repeat-start="team_game in result.teams_game" ng-class="{flag:$index==0, betwhitespace:$index==1}"><img src="client/img/flags/{{team_game.teamflag}}" ng-show="$index==0" /></td>
				<td ng-class="{team: $index==0, score: $index!=0}">{{($index==0)?team_game.teamname:team_game.score}}</td>
				<td ng-class="{flag:$index==1, betwhitespace:$index==0}"><img src="client/img/flags/{{team_game.teamflag}}" ng-show="$index!=0" /></td>
				<td ng-class="{team: $index!=0, score: $index==0}" ng-repeat-end>{{($index==0)?team_game.score:team_game.teamname}}</td>
				<td class="linktobet"><a ng-href="#/results/details/{{result.gameid}}"><img src="client/img/loupe.jpg" ng-show="result.gamestarted==1" /></a></td>
			</tr>
		</tbody>
	</table>
</div>