<div ng-controller="Login" class="rules">
	<p>
		<u><b>Bets</b></u>
	</p>
	<ul>
		<li>You can bet on the different games in the Bets tab.</li>
		<li>The indicated times are local times, not Brazil times.</li>
		<li>You will not be allowed to bet once a match starts.</li>
		<li><b>Please do not forget to click on the Submit button at the bottom of the page to validate your bets.</b></li>
		<li>For safety reasons, the session timeout is 60 minutes. Please make sure to validate your bets before otherwise they will not be taken into account and you will have to log in and place your bets again.</li>
	</ul>

	<p>
		<u><b>Ranking</b></u>
	</p>
	<ul>
		<li>2 points are awarded for a good result &ndash; example: </li>
		<ul>
			<li>Germany vs. Brazil &ndash; 2-1 &#47 If you bet 3-0, you get 2 points</li>
		</ul>
		<li>1 additional point is awarded for an exact score &ndash; example: </li>
		<ul>
			<li>France vs. Italy &ndash; 3-3 &#47 If you bet 3-3, you get 1 extra point = 3 points in total.</li>
		</ul>
		<li>Scores will be updated once the games results are recorded into the application. The score recording is manual. Consequently, time can elapse between the end of the game and the update of the score in the application.</li>
		<li>You can filter the ranking by company and by department.</li>
		<li><b>Final result: in case of a tie, only the person with the highest number of exact scores will be crowned champion. And if a tie remains after calculation of the exact scores, the winner will be drawn.</b></li>
	</ul>
	<br/><br/><br/>
	<h5>If you have any question, or if a bug occurs in the application, please contact R&eacutemy DUBOIS (rdubois@talend.com).</h5>
</div>