body {
	font: 15px/1.3 'Open Sans', sans-serif;
	color: #5e5b64;
	text-align: center;
}

input.ng-invalid {
	border-color: red;
	color: red;
	background-color: pink;
}

.rules {
	text-align: left;
	width: 60%;
	margin: 0 auto;
}

#resulttable .detailuser,#resulttable .detailbet {
	text-align: center;
	width: 40%;
}

.rankingtable .rankid {
	width: 5%;
	text-align: center;
}

.rankingtable .rankname {
	width: 30%;
	text-align: center;
}

.rankingtable .rankscore {
	width: 5%;
	text-align: center;
}

.rankingtable .rankunit,.rankingtable .rankcompany {
	width: 30%;
	text-align: center;
}

.large-group .teamid {
	width: 10%;
}

.large-group .teamflag {
	width: 20%;
}

.large-bet .date,.large-result .date {
	width: 20%;
}

.large-bet .team {
	width: 18%;
}

.large-result .team {
	width: 13%;
}

.large-bet .bet {
	width: 5%;
}

.large-result .score {
	width: 8%;
}

input.betinput {
	width: 100%;
	text-align: center;
}

.large-bet .notplayed,.large-result .played,.large-bet .flag,.large-result .flag
	{
	width: 7%;
}

.large-bet .betwhitespace,.large-result .betwhitespace {
	width: 1%;
}

.large-result .linktobet,.large-bet .linktobet {
	width: 9%;
}

a,a:visited,div.divheader {
	outline: none;
	color: #389dc1;
	width: 8%;
}

a:hover {
	text-decoration: none;
}

nav.menufooter {
	width: 80%;
	margin: 5px auto 45px;
	background-color: #255B97;
	box-shadow: 0 1px 1px #ccc;
	border-radius: 2px;
}

nav.menuheader {
	width: 80%;
	margin: auto;
	border-radius: 2px;
}

nav a {
	display: inline-block;
	padding: 18px 30px;
	color: #fff !important;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none !important;
	line-height: 1;
	text-transform: uppercase;
	background-color: transparent;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

nav div {
	display: inline-block;
	padding: 32px 30px;
	color: #fff !important;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none !important;
	line-height: 1;
	text-transform: uppercase;
	background-color: transparent;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

nav a:first-child,nav div:first-child {
	
}

nav a:last-child,nav div:last-child {
	outline: none;
}

.selected-menu {
	background-color: #B7CC2D;
}

.selected-header1 {
	background-image: url('../img/foot-menu1.png');
	background-repeat: no-repeat;
	background-position: center top;
}

.selected-header2 {
	background-image: url('../img/foot-menu2.png');
	background-repeat: no-repeat;
	background-position: center top;
}

.selected-header3 {
	background-image: url('../img/foot-menu3.png');
	background-repeat: no-repeat;
	background-position: center top;
}

.selected-header4 {
	background-image: url('../img/foot-menu4.png');
	background-repeat: no-repeat;
	background-position: center top;
}

.selected-header5 {
	background-image: url('../img/foot-menu5.png');
	background-repeat: no-repeat;
	background-position: center top;
}

.selected-header6 {
	background-image: url('../img/foot-menu6.png');
	background-repeat: no-repeat;
	background-position: center top;
}

div .group {
	width: 49%;
	display: inline-block;
}

div #maindiv {
	margin: 0 auto;
	width: 80%;
	height: 100%;
}

#grouptable {
	width: 50%;
	margin: 0 auto;
}

.rankingtable,#resulttable,#bettable {
	display: inline-table;
	border-collapse: collapse;
}

.rankingtable th,#grouptable th,#resulttable th,#bettable th {
	border-bottom: 2px solid black;
}

.teamid,.teamflag {
	width: 5%;
}

/*
*
*
Login
*
*
*/
#login-wrapper {
	/* Center wrapper perfectly */
	width: 300px;
	height: 400px;
	margin: 70px auto;
}

.login-form {
	width: 300px;
	margin: 0 auto;
	position: relative;
	background: #f3f3f3;
	border: 1px solid #fff;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.login-form .login-content {
	padding: 0 30px 25px 30px;
}

/* Input field */
.login-form .login-content .login-input {
	width: 188px;
	padding: 15px 25px;
	box-sizing: inherit;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #9d9e9e;
	text-shadow: 1px 1px 0 rgba(256, 256, 256, 1.0);
	background: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
}

.login-form .login-content,.login-form .login-content {
	margin-top: 25px;
}

.login-form .login-content .login-input:hover {
	background: #dfe9ec;
	color: #414848;
}

.login-form .login-content .login-input:focus {
	background: #dfe9ec;
	color: #414848;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
}

.login-content login-input:focus+div {
	left: -46px;
}

/* Animation */
.login-input,.login-button,.login-register {
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
}

.login-form .login-footer {
	padding: 25px 30px 40px 30px;
	overflow: auto;
	background: #d4dedf;
	border-top: 1px solid #fff;
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
}

/* Login button */
.login-form .login-footer .login-button {
	float: center;
	padding: 11px 25px;
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.25);
	background: #B7CC2D;
	border: 1px solid #B7CC2D;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: inset 0 0 2px rgba(256, 256, 256, 0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256, 256, 256, 0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256, 256, 256, 0.75);
}

.login-form .login-footer .login-button:hover {
	background: #B7CC2D;
	border: 1px solid rgba(256, 256, 256, 0.75);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.login-form .login-footer .login-button:focus {
	position: relative;
	bottom: -1px;
	background: #B7CC2D;
	box-shadow: inset 0 1px 6px rgba(256, 256, 256, 0.75);
	-moz-box-shadow: inset 0 1px 6px rgba(256, 256, 256, 0.75);
	-webkit-box-shadow: inset 0 1px 6px rgba(256, 256, 256, 0.75);
}

/* Register button */
.login-form .login-footer .login-register {
	float: center;
	padding: 11px 25px;
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.25);
	background: #255B97;
	border: 1px solid #255B97;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: inset 0 0 2px rgba(256, 256, 256, 0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256, 256, 256, 0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256, 256, 256, 0.75);
}

.login-form .login-footer .login-register:hover {
	background: #255B97;
	border: 1px solid rgba(256, 256, 256, 0.75);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.login-form .login-footer .login-register:focus {
	position: relative;
	bottom: -1px;
	background: #255B97;
	box-shadow: inset 0 1px 6px rgba(256, 256, 256, 0.75);
	-moz-box-shadow: inset 0 1px 6px rgba(256, 256, 256, 0.75);
	-webkit-box-shadow: inset 0 1px 6px rgba(256, 256, 256, 0.75);
}

/*
*
*
Result and Bet Table
*
*
*/
tr.large-result,tr.large-bet {
	border-bottom: 1px solid black;
	height: 50px;
}

td {
	text-align: left;
	padding-right: 5px;
}

td.date {
	text-align: center;
	border-right: 1px dotted black;
}

td.team {
	text-align: left;
}

td.flag {
	padding-left: 20px;
}

td.played {
	text-align: center;
	border-right: 1px dotted black;
	background-image: url(../img/checkmark.png);
	background-repeat: no-repeat;
	background-position: center;
}

td.notplayed {
	text-align: center;
	border-right: 1px dotted black;
}

td.linktobet {
	border-left: 1px dotted black;
	text-align: center;
}

th.columnInTheMiddle {
	border-right: 1px dotted black;
}

tr.gray {
	background-color:#f4f4f4;
}